.connect{
  padding: 50px 0px;

  .community-card{
    margin: 0px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 3px 8px grey;
    
    img{
      padding:20px;
      z-index: 2;
    }

    .card-footer{
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      z-index: 2;
    }
  }

  .community-card::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 200%;
    background: #003B95;
    animation: rotate 4s linear infinite;
    transform-origin: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .community-card:hover::before{
    opacity: 1;
  }

  .community-card::after{
    content: '';
    position: absolute;
    background: #fff;
    inset: 5px;
  }

  @keyframes rotate{
    from{
      transform: rotate(0deg);
    }to{
      transform: rotate(360deg);
    }
  }
}

