$backGround: #003B95;
$textColor:#fff;

.sec1{
  height: 90vh;
  background-color: $backGround;

  .col-6{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    
    .text{
      line-height: 0.8em;
      font-size: 48px ;
      font-weight: bold ; 
      
      h1{
        font-size: 48px;
        font-weight: 700;
      }

      .h1{
        color:aqua
      }
    }
  }

  .right{
    padding: 50px;
    color: #000;

    .box{
      width: 90%;
      height: 100%;
      background-color: #FFF;
      padding: 20px;

      .item{
        display: flex;
        align-items: center;

        p{
          margin-top: 10px;
          margin-left: 5px;
        }
      }

      .agree{
        font-size: small;
      }

      .btn-info{
        width: 100%;
      }

      .btm{
        padding-top: 10px;
      }
    }
  }
}