.Des-Navbar{
  height: auto;
  padding: 5px 0px;
  
  .navbar{
    background-color: #fff;
  }

  .nav-item{
    width: auto;
    display: flex;
    justify-content: center;
    margin-right: 10px
  }

  .active{
    border: 1px solid blue;
    border-radius: 100px;
  }

  .nav-item:hover{
    border: 1px solid blue;
    border-radius: 100px;
  }
}