.managerDetailsFrom{
  .col-7{
    padding: 40px;
    
    form{
      background-color: #FFF;
      padding: 20px;
      border-radius: 10px;

      .radio-div{
        display: flex;

        *{
          margin-right: 5px;
        }
      }

      .btn-div{
        display: flex;
        justify-content: flex-end;

        * {
          margin-right: 5px
        }
      }
    }
  }

  .col-5{
    padding:40px;
    color: red;
  }
}